body {
    background-image: url("https://wallpaperaccess.com/full/1880555.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-home {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    background-color: aquamarine;
}

.card-text {
    color: darkgreen;
}

h1 {
    color: red;
    text-align: center;
}

.profile-pic {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: palegreen;
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
}

